body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    color: #222;
    background: #efefef;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

iframe{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

a{
    text-decoration: nome;
    color: inherit;
}


.section{
    clear: both;
    padding: 0;
    margin: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 0;
}

.span_3_of_3{
    width: 100%;
}

.span_2_of_3{
    width: 60.1%;
}

.span_1_of_3{
    width: 32.2%;
}

header{
    max-width: 100%;
    background: #0c94e8;
    padding: 20PX;
}

nav{
    width: 100%;
    margin-bottom: 1em;
    background: #0841a8;

}

.logo{
    width: 100px;
    display: block;
    margin: auto;
}

.ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: max-height 0.5s ;
}

.nav-item{
    display: inline-block;
    padding: 20px;
    font-size: 1.4em;
}

.nav-item:hover{
    background: #0c94e8;
    cursor: pointer;
}

.menu-bar{
    width: 100%;
    box-sizing: border-box;
    background: #2d2d2d;
    text-align: left;
    padding: 15px 20px;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    display: none;
}

.hamburger-icon{
    float: right;
    clear: both;
    margin-top: -5px;
    font-size: 1.4em;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}

.blog-post{
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px;
}

.side-post{
    background: white;
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 20px;
}


.blog-content{
    font-size: 1em;
    border-left: 5px solid #0c94e8;
    padding-left: 15px;
}

.side-content{
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: 0;
}

.blog-title{
    font-weight: 500PX;
    font-size: 2.5em;
    margin-top: 5px;
}

.date{
    font-size: 1em;
    font-weight: 400;
    color: #9c9c9c;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentColor;
}


.post-link{
    color: #0841a8;
    font-style: italic;
    transition: all 0.4s;
}


.post-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sucripcion{
    text-align:left;
    font-weight: bold;
    width: 300px;
}

.input_suscrip{
    width: 250px;
}

.button{
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background-color: #009acd;
    text-align: center;
    color: white;
    font-size: 1.4em;
    border-radius: 3px;
    transition: all .4s ease-in;
}

.button:hover{
    background: #005c7b;
}

th, td {
    border: 1px solid;
}

table{
    border: 1px solid #005c7b;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}



.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}



.subtitulos{
    font-size: 1em;
    border-left: 5px solid #0c94e8;
    padding-left: 15px;
}


form {
/* Para Centrar el formulario en la página */
margin: 0 auto;
width: 500px;
/* Esquema del formulario */
padding: 1em;
border: 1px solid #CCC;

max-width: 100%;
height: auto;
border-radius: 3px;
}

 
ul {
list-style: none;
padding: 0;
margin: 0;
}

form li + li {
margin-top: 1em;
}

label {
/* Tamaño y alineación uniforme */
display: inline-block;
width: 120px;
text-align: right;
}

input,
textarea {
/* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
    Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
font: 1em sans-serif;

/* Tamaño uniforme del campo de texto */
width: 300px;
box-sizing: border-box;

/* Hacer coincidir los bordes del campo del formulario */
border: 1px solid #999;

max-width: 100%;
height: auto;
border-radius: 3px;
}

select{
    max-width: 100%;
    height: auto;
    border-radius: 3px; 
}

input:focus,
textarea:focus {
/* Destacado adicional para elementos que tienen el cursor */
border-color: #000;
}

textarea {
/* Alinear los campos de texto multilínea con sus etiquetas */
vertical-align: top;

/* Proporcionar espacio para escribir texto */
height: 5em;
}





footer{
    width: 100%;
    float: right;
    background: #141414;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
}

footer h1{
    margin: 20px auto;
}

footer p{
    margin: auto;
}

p::first-letter {
    color: black;
    font-family: 'Times New Roman', serif;
    font-size: 42px;
  }
  
  p::first-line {
    color: #999;
  }

/*Hago responsive*/

/*@900px*/

@media screen and (max-width: 56.25em) {
    .col{
        margin: 1% 0 1% 0%;
    }
    
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3{
        width: 100%;
    }

    .side-post{
        width: 42%;
        float: left;
        margin: -2% 0 1% 1.6%;
    }
}


/*@685px*/

@media screen and (max-width: 42.813em){
    .side-post{
        width: auto;
        padding: 15px;
        margin: -2% auto 8% auto;
    }

    .blog-title{
        font-size: 1.95em;
    }

    .date{
        font-size: .9em;
    }

    nav ul{
        max-height: 0;
    }
 
    .reveal{
        max-height: 19em;
    }
 
    nav ul .nav-item{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
 
    .menu-bar{
        display: block;
    }
}


/*@480px*/

@media screen and (max-width: 30em){
   nav ul{
       max-height: 0;
   }

   .reveal{
       max-height: 19em;
   }

   nav ul .nav-item{
       box-sizing: border-box;
       width: 100%;
       padding: 15px;
   }

   .menu-bar{
       display: block;
   }
}


/*@380px*/

@media screen and (max-width: 23.75em){
   .blog-content,
   .post-link{
       font-size: .9em;
   }

   .side-content{
       font-size: .8em;
   }

   .button{
       padding: 10px 15px;
   }

   .nav-item{
       font-size: 1.2em;
   }

 }


 @media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}